In [1]:
import numpy as np
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

C:\Users\KANAK\AppData\Local\Temp\ipykernel_3936\1918272072.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\KANAK\Desktop\Codes\LoRaIoT\GitHub/PHC_RawDataset.csv')

In [3]:
X = data.iloc[:,0:6].values
y = data.iloc[:,6].values

In [4]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
Scaled_X=scaler.fit_transform(X)

In [5]:
from sklearn.decomposition import PCA
pca_model = PCA(n_components=3)
spca_X = pca_model.fit_transform(Scaled_X)
spca_X
pca_model.explained_variance_ratio_

array([0.69886381, 0.24002834, 0.02693311])

In [6]:
# Create data Frame
df1 = pd.DataFrame(spca_X)
df2 = pd.DataFrame(y)

In [7]:
# concatenating data frames
df = pd.concat([df1,df2], axis=1, join = 'inner')
df

             0         1         2  0
0    -3.714375 -1.582964 -0.106822  1
1    -3.718911 -1.583909 -0.106570  1
2    -3.289348 -1.538776 -0.223914  1
3    -3.268526 -1.539038 -0.236779  1
4    -3.262346 -1.535311 -0.243634  1
...        ...       ...       ... ..
2845  3.494954 -4.350059  1.350967  8
2846  3.454217 -4.393956  1.374056  8
2847  3.400697 -4.387613  1.386575  8
2848  3.372873 -4.409184  1.396297  8
2849  3.261721 -4.415556  1.407741  8

[2850 rows x 4 columns]

In [8]:
df.to_csv('SPCAData(P3).csv')